rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSelf(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }
    function isAdmin() {
      return isSignedIn()
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /media/{mediaId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow delete: if isAdmin() ||
        (isSignedIn() && resource.data.uploadedBy == request.auth.uid);
      allow update: if isAdmin();
    }

    match /users/{uid} {
      allow read: if isSelf(uid) || isAdmin();
      allow create: if isSelf(uid)
        && request.resource.data.role == 'participant'
        && request.resource.data.uid == uid;
      allow update: if isSelf(uid)
        && request.resource.data.role == resource.data.role;
      allow delete: if false;
    }
  }
}
