rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function isSelf(uid) {
      return isSignedIn() && request.auth.uid == uid;
    }
    function isAdmin() {
      return isSignedIn()
        && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /media/{mediaId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn();
      allow delete: if isAdmin() ||
        (isSignedIn() && resource.data.uploadedBy == request.auth.uid);
      allow update: if isAdmin();
    }

    match /users/{uid} {
      allow read: if isSignedIn();
      allow create: if isSelf(uid)
        && request.resource.data.role == 'participant'
        && request.resource.data.uid == uid;
      allow update: if isAdmin() || (isSelf(uid)
        && request.resource.data.role == resource.data.role
        && request.resource.data.paid == resource.data.paid);
      allow delete: if false;
    }

    match /classes/{classId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /sessions/{sessionId} {
      allow read: if isSignedIn();
      allow create, delete: if isAdmin();
      allow update: if isAdmin() ||
        (isSignedIn()
         && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['rsvps']));
    }

    match /tutorials/{tutorialId} {
      allow read: if isSignedIn();
      allow create, update, delete: if isAdmin();
    }

    match /likes/{likeId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow update: if false;
    }

    match /comments/{commentId} {
      allow read: if isSignedIn();
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow update: if false;
    }

    match /notifications/{notifId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow update: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create, delete: if false;
    }
  }
}
